*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c7c0b1;
}
.contenedor{
    position: fixed;
    width: 100%;
    height: 100%;
}
.barra-lateral{
    width: 300px;
    height: 100%;
    background-color: #143D59;
    overflow: auto;
    float: left;
}
.barra-lateral img{
    width: 100px;
    display: block;
    margin: 5px auto;
}
.barra-lateral ul li{
    list-style: none;
    padding: 12px 10px;
}
.barra-lateral ul li:hover{
    background-color: #0b2a3f;
    cursor: pointer;
}
.barra-lateral ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenido {
    padding: 10px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenido p {
    font-size: 25px;
    text-align: justify;
}
.contenido header{
    width: 100%;
    font-size: 20px;
    background-color: #F4B41A;
    margin-bottom: 20px;
    margin: 0;
    padding: 10px;
    padding-left:20px ;
}
