* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.encabezado {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #143d59;
}
.encabezado input {
  margin: auto;
  width: 600px;
  height: 35px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: large;
  padding-left: 15px;
}
.encabezado img {
  margin-top: 10px;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.encabezado .logo {
  margin-top: 5px;
  width: 60px;
  height: 60px;
}

.encabezado p {
  margin-top: 19px;
  margin-right: 15px;
  font-weight: normal;
  color: #fff;
  font-size: 20px;
}
.contenedor-menu {
  display: flex;
  justify-content: center;
}
.menu {
  margin-top: 15px;
  margin-bottom: 30px;
}
.menu a {
  padding: 15px;
  text-decoration: none;
  font-size: large;
  color: #143d59;
}
.menu a:hover {
  background-color: #143d59;
  color: #f5b41a;
}
.tabla-descuentos {
  display: flex;
  justify-content: center;
}
.tabla-descuentos tr td .descuento {
  height: 180px;
  width: 500px;
}
.tabla-descuentos tr td .super-Bowl {
  height: 90px;
  width: 500px;
}
.tabla-descuentos tr td .nba {
  height: 90px;
  width: 500px;
}

p {
  font-style: normal;
}

.carousel {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 200px;
  position: relative;
  width: 70%;
  border: none;
  border-radius: 15px;
  background: #eee;
  margin-bottom: 15px;
}

.carousel img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
}

.arrow {
  position: absolute;
  top: 60px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  display: block;
  background-color: transparent;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  top: 85px;
  left: 7px;
}

.next {
  top: 85px;
  right: 7px;
}

.gallery {
  width: 800px;
  height: inherit;
  overflow: hidden;
}

.gallery ul {
  height: 200px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 600ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;
}
.pieDePagina {
  background-color: #143d59;
  color: #ffffff;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.title {
  margin-left: 250px;
}
