<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../Css/catalogo-mujer.css" />
  <link rel="shortcut icon" href="../Img/logo.ico" type="image/x-icon" />
</head>

<body>
  <header class="encabezado">
    <img src="../Img/logo.png" alt="Logo" class="logo" />
    <input type="text" name="barra de busqueda" class="busqueda" placeholder="Realiza tu busqueda" />
    <p>Nosotros</p>
    <img src="../Img/carrito-de-compras.png" alt="carrito" class="imgCabecera" />
    <a href="inicio-Sesion.html"><img src="../Img/usuario.png" alt="usuario" class="imgCabecera" /></a>
  </header>
  <div class="contenedor-menu">
    <nav class="menu">
      <a href="index.html">Deportes</a>
      <a href="catalogo-hombre.html">Hombre</a>
      <a href="catalogo-mujer.html">Mujer</a>
      <a href="">Accesorios</a>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="title">Ropa</h1>
      <div id="carousel" class="carousel">
        <button class="arrow prev">←</button>
        <div class="gallery">
          <ul>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
            <li><img src="../Img/ropa-femenina.png" /></li>
          </ul>
        </div>
        <button class="arrow next">→</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="title">Calzado</h1>
      <div id="carousel" class="carousel">
        <button class="arrow prev">←</button>
        <div class="gallery">
          <ul>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
            <li><img src="../Img/calzado-femenino.png" /></li>
          </ul>
        </div>
        <button class="arrow next">→</button>
      </div>
    </div>
  </div>
  <footer class="pieDePagina">
    <address>
      <p>Contactanos: PiedrasSports@piedra.com</p>
      <p>Contactanos: 3107511975</p>
    </address>
  </footer>
  <script src="../Js/catalogo.js"></script>
</body>

</html>