<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../Img/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../Css/dashboard.css" />
  <title>Dashboard</title>
</head>

<body>
  <header class="cabecera">
    <a href="dashboard.html"><img src="../Img/logo.png" alt="Logo" /></a>
    <h1>Admin_123</h1>
  </header>
  <div class="menu">
    <nav class="menu-desplegable">
      <button class="boton-menu">Ventas</button>
      <div class="Contenido-menu">
        <a href="form-venta.php">Ventas</a>
        <a href="form-pedido.php">Pedido</a>
        <!--<a href="#">Catalogo</a>-->
        <!-- <a href="#">Factura</a> -->
      </div>
    </nav>
    <nav class="menu-desplegable">
      <button class="boton-menu">Compras</button>
      <div class="Contenido-menu">
        <a href="form-compra.php">Compra</a>
        <a href="form-proveedor.php">Proveedor</a>
      </div>
    </nav>
    <nav class="menu-desplegable">
      <button class="boton-menu">Distribución</button>
      <div class="Contenido-menu">
        <a href="form-distribucion.php">Distribucion</a>
        <!-- <a href="#">Domicilio</a>
        <a href="#">Valoracion</a>
        <a href="#">Seguimiento</a> -->
      </div>
    </nav>
    <nav class="menu-desplegable">
      <button class="boton-menu">Inventario</button>
      <div class="Contenido-menu">
        <a href="form-producto.php">Producto</a>
      </div>
    </nav>
  </div>
  <div class="contenido-principal"></div>
</body>

</html>