<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../Img/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../Css/estilos-index.css" />
  <title>Inicio</title>
</head>

<body>
  <header class="encabezado">
    <img src="../Img/logo.png" alt="Logo" class="logo" />
    <input type="text" name="barra de busqueda" class="busqueda" placeholder="Realiza tu busqueda" />
    <p>Nosotros</p>
    <img src="../Img/carrito-de-compras.png" alt="carrito" class="imgCabecera" />
    <a href="inicio-Sesion.html"><img src="../Img/usuario.png" alt="usuario" class="imgCabecera" /></a>
  </header>
  <div class="contenedor-menu">
    <nav class="menu">
      <a href="index.html">Deportes</a>
      <a href="catalogo-hombre.html">Hombre</a>
      <a href="catalogo-mujer.html">Mujer</a>
      <a href="">Accesorios</a>
    </nav>
  </div>

  <table class="tabla-descuentos">
    <tr>
      <td rowspan="2">
        <img src="../Img/descuento-generico-logo.jpg" class="descuento" />
      </td>
      <td><img src="../Img/Super_Bowl.png" class="super-Bowl" /></td>
    </tr>
    <tr>
      <td><img src="../Img/NBA.png" class="nba" /></td>
    </tr>
  </table>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="title">Balones</h1>
        <div id="carousel" class="carousel">
          <button class="arrow prev">←</button>
          <div class="gallery">
            <ul>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
              <li><img src="../Img/balon.png"></li>
            </ul>
          </div>
          <button class="arrow next">→</button>
        </div>
        <footer class="pieDePagina">
          <address>
            <p>Contactanos: PiedrasSports@piedra.com</p>
            <p>Contactanos: 3107511975</p>
          </address>
        </footer>
        <script src="../Js/catalogo.js"></script>
</body>

</html>